
/* css */
h1 {
  color: lightblue;
  font-weight: bold;
}
intro {
  font-style: italic;
  color: lightpink;
}
h2 {
  color: hotpink;
  font-weight: bold;
}
h3 {
  color: navy;
  font-weight: 200;
}
border: hotpink;
